examples/All examples.json
[{"id":"ce3664a99c55ef3b","type":"inject","z":"c82163e5b853163c","name":"Set color with HSL","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hsl\":[50, 100, 50]}","payloadType":"json","x":390,"y":320,"wires":[["e09f4bbe88f51f9d"]]},{"id":"e63c1a47dbc0c962","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"","x":780,"y":400,"wires":[[]]},{"id":"bc55cfb2febb3d90","type":"inject","z":"c82163e5b853163c","name":"Set brightness via input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"brightness\": 10}","payloadType":"json","x":400,"y":400,"wires":[["e63c1a47dbc0c962"]]},{"id":"e09f4bbe88f51f9d","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":320,"wires":[[]]},{"id":"e9f5e8fd19627114","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":440,"wires":[["95b572ff0d08f8e7"]]},{"id":"95b572ff0d08f8e7","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"","x":980,"y":440,"wires":[[]]},{"id":"8717f2c6dab23c1f","type":"inject","z":"c82163e5b853163c","name":"Set color and brightness with JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hex\":\"#0FA0E4\",\"brightness\":90}","payloadType":"json","x":440,"y":440,"wires":[["e9f5e8fd19627114"]]},{"id":"50d102169c1b2ab0","type":"Set Power","z":"c82163e5b853163c","name":"Power Off","device":"6C:25:D4:AD:FC:1A:D0:4D","powerState":"off","x":800,"y":480,"wires":[[]]},{"id":"7b77e5494e95ce13","type":"inject","z":"c82163e5b853163c","name":"Turn off","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":480,"wires":[["50d102169c1b2ab0"]]},{"id":"8263b1ad7e8b564e","type":"inject","z":"c82163e5b853163c","name":"Fade between 2 colors (One with JSON)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"time\":2000,\"color\":{\"hex\":\"#FFA0E4\"},\"brightness\":0}","payloadType":"json","x":460,"y":560,"wires":[["37189cfaed22f345"]]},{"id":"37189cfaed22f345","type":"Fade Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","time":"","color":"#000000","brightness":"","x":790,"y":560,"wires":[["8b29508b2cbaaf53"]]},{"id":"b762931a78656461","type":"Set Power","z":"c82163e5b853163c","name":"Power On","device":"6C:25:D4:AD:FC:1A:D0:4D","powerState":"on","x":800,"y":520,"wires":[[]]},{"id":"293b8492f8f044e2","type":"inject","z":"c82163e5b853163c","name":"Turn on","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":520,"wires":[["b762931a78656461"]]},{"id":"3bc05d6c325e7ed6","type":"inject","z":"c82163e5b853163c","name":"Set brightness and then fade (Both with 1 JSON)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"time\":2000,\"color\":{\"hex\":\"#00FFFF\"},\"brightness\":99}","payloadType":"json","x":480,"y":600,"wires":[["133d4902c29da71f"]]},{"id":"381ac5cb0442e124","type":"Fade Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","time":"","color":"#000000","brightness":"","x":970,"y":600,"wires":[[]]},{"id":"7a19bdf9fc4850b6","type":"inject","z":"c82163e5b853163c","name":"Set color with RGB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"rgb\": [255, 255, 0]}","payloadType":"json","x":390,"y":280,"wires":[["c3232485ee309eee"]]},{"id":"c3232485ee309eee","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":280,"wires":[[]]},{"id":"133d4902c29da71f","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"1","x":780,"y":600,"wires":[["381ac5cb0442e124"]]},{"id":"de27a275c8f75059","type":"inject","z":"c82163e5b853163c","name":"Set color with Hex","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hex\":\"#000020\"}","payloadType":"json","x":390,"y":240,"wires":[["66f7524ecec1c937"]]},{"id":"66f7524ecec1c937","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":240,"wires":[[]]},{"id":"a5419c20c48cb693","type":"inject","z":"c82163e5b853163c","name":"Set color with kelvin","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"kelvin\":4000}","payloadType":"json","x":390,"y":200,"wires":[["94501ed0f9093ecf"]]},{"id":"94501ed0f9093ecf","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":200,"wires":[[]]},{"id":"627a86d4cd86f8c3","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"60","x":780,"y":360,"wires":[[]]},{"id":"528a3dac66a2f0e1","type":"inject","z":"c82163e5b853163c","name":"Set brightness via parameter","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":420,"y":360,"wires":[["627a86d4cd86f8c3"]]},{"id":"666f5d67f2ad0d18","type":"function","z":"c82163e5b853163c","name":"HSL Rainbow generator","func":"if (msg.payload == \"start\") {\n    context.set(\"rainbowLoop\", true)\n} else if (msg.payload == \"stop\") {\n    context.set(\"rainbowLoop\", false)\n}","outputs":1,"noerr":0,"initialize":"\n// Code added here will be run once\n// whenever the node is started.\nvar index = 0\nsetInterval(function() {\n    var allowLoop = context.get(\"rainbowLoop\")\n    if (!allowLoop) {\n        return\n    }\n    index += 2\n    index %= 360\n    node.send({\n        payload: {\n            \"hsl\": [index, 100, 50]\n        }\n    });\n}, 100);","finalize":"","libs":[],"x":590,"y":680,"wires":[["8a50fd56087b2a21"]]},{"id":"3abb2f88a79f0ac3","type":"inject","z":"c82163e5b853163c","name":"Start rainbow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":370,"y":660,"wires":[["666f5d67f2ad0d18"]]},{"id":"40489ae14a6094fa","type":"inject","z":"c82163e5b853163c","name":"Stop rainbow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":370,"y":700,"wires":[["666f5d67f2ad0d18"]]},{"id":"8a50fd56087b2a21","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":680,"wires":[[]]},{"id":"8b29508b2cbaaf53","type":"Fade Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","time":"","color":"#162856","brightness":"","x":970,"y":560,"wires":[[]]}]