examples/Fade.json
[{"id":"8263b1ad7e8b564e","type":"inject","z":"c82163e5b853163c","name":"Fade between 2 colors (One with JSON)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"time\":2000,\"color\":{\"hex\":\"#FFA0E4\"},\"brightness\":0}","payloadType":"json","x":460,"y":560,"wires":[["37189cfaed22f345"]]},{"id":"37189cfaed22f345","type":"Fade Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","time":"","color":"#000000","brightness":"","x":790,"y":560,"wires":[["8b29508b2cbaaf53"]]},{"id":"3bc05d6c325e7ed6","type":"inject","z":"c82163e5b853163c","name":"Set brightness and then fade (Both with 1 JSON)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"time\":2000,\"color\":{\"hex\":\"#00FFFF\"},\"brightness\":99}","payloadType":"json","x":480,"y":600,"wires":[["133d4902c29da71f"]]},{"id":"381ac5cb0442e124","type":"Fade Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","time":"","color":"#000000","brightness":"","x":970,"y":600,"wires":[[]]},{"id":"133d4902c29da71f","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"1","x":780,"y":600,"wires":[["381ac5cb0442e124"]]},{"id":"8b29508b2cbaaf53","type":"Fade Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","time":"","color":"#162856","brightness":"","x":970,"y":560,"wires":[[]]}]