examples/Rainbow.json
[{"id":"666f5d67f2ad0d18","type":"function","z":"c82163e5b853163c","name":"HSL Rainbow generator","func":"if (msg.payload == \"start\") {\n    context.set(\"rainbowLoop\", true)\n} else if (msg.payload == \"stop\") {\n    context.set(\"rainbowLoop\", false)\n}","outputs":1,"noerr":0,"initialize":"\n// Code added here will be run once\n// whenever the node is started.\nvar index = 0\nsetInterval(function() {\n    var allowLoop = context.get(\"rainbowLoop\")\n    if (!allowLoop) {\n        return\n    }\n    index += 2\n    index %= 360\n    node.send({\n        payload: {\n            \"hsl\": [index, 100, 50]\n        }\n    });\n}, 100);","finalize":"","libs":[],"x":590,"y":680,"wires":[["8a50fd56087b2a21"]]},{"id":"3abb2f88a79f0ac3","type":"inject","z":"c82163e5b853163c","name":"Start rainbow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":370,"y":660,"wires":[["666f5d67f2ad0d18"]]},{"id":"40489ae14a6094fa","type":"inject","z":"c82163e5b853163c","name":"Stop rainbow","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":370,"y":700,"wires":[["666f5d67f2ad0d18"]]},{"id":"8a50fd56087b2a21","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":680,"wires":[[]]}]