examples/Set brightness.json
[{"id":"e63c1a47dbc0c962","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"","x":780,"y":400,"wires":[[]]},{"id":"bc55cfb2febb3d90","type":"inject","z":"c82163e5b853163c","name":"Set brightness via input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"brightness\": 10}","payloadType":"json","x":400,"y":400,"wires":[["e63c1a47dbc0c962"]]},{"id":"e9f5e8fd19627114","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":440,"wires":[["95b572ff0d08f8e7"]]},{"id":"95b572ff0d08f8e7","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"","x":980,"y":440,"wires":[[]]},{"id":"8717f2c6dab23c1f","type":"inject","z":"c82163e5b853163c","name":"Set color and brightness with JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hex\":\"#0FA0E4\",\"brightness\":90}","payloadType":"json","x":440,"y":440,"wires":[["e9f5e8fd19627114"]]},{"id":"627a86d4cd86f8c3","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"60","x":780,"y":360,"wires":[[]]},{"id":"528a3dac66a2f0e1","type":"inject","z":"c82163e5b853163c","name":"Set brightness via parameter","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":420,"y":360,"wires":[["627a86d4cd86f8c3"]]}]