examples/Set color.json
[{"id":"ce3664a99c55ef3b","type":"inject","z":"c82163e5b853163c","name":"Set color with HSL","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hsl\":[50, 100, 50]}","payloadType":"json","x":390,"y":320,"wires":[["e09f4bbe88f51f9d"]]},{"id":"e09f4bbe88f51f9d","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":320,"wires":[[]]},{"id":"e9f5e8fd19627114","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":360,"wires":[["95b572ff0d08f8e7"]]},{"id":"95b572ff0d08f8e7","type":"Set Brightness","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","brightness":"","x":980,"y":360,"wires":[[]]},{"id":"8717f2c6dab23c1f","type":"inject","z":"c82163e5b853163c","name":"Set color and brightness with JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hex\":\"#0FA0E4\",\"brightness\":90}","payloadType":"json","x":440,"y":360,"wires":[["e9f5e8fd19627114"]]},{"id":"7a19bdf9fc4850b6","type":"inject","z":"c82163e5b853163c","name":"Set color with RGB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"rgb\": [255, 255, 0]}","payloadType":"json","x":390,"y":280,"wires":[["c3232485ee309eee"]]},{"id":"c3232485ee309eee","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":280,"wires":[[]]},{"id":"de27a275c8f75059","type":"inject","z":"c82163e5b853163c","name":"Set color with Hex","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hex\":\"#000020\"}","payloadType":"json","x":390,"y":240,"wires":[["66f7524ecec1c937"]]},{"id":"66f7524ecec1c937","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":240,"wires":[[]]},{"id":"a5419c20c48cb693","type":"inject","z":"c82163e5b853163c","name":"Set color with kelvin","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"kelvin\":4000}","payloadType":"json","x":390,"y":200,"wires":[["94501ed0f9093ecf"]]},{"id":"94501ed0f9093ecf","type":"Set Color","z":"c82163e5b853163c","name":"","device":"6C:25:D4:AD:FC:1A:D0:4D","color":"#000000","x":800,"y":200,"wires":[[]]}]